In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
purchase_data = "Resources/Unit 4 - Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_data)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Display the total number of players
total_players = purchase_df["SN"].nunique()
df_summary = pd.DataFrame({
    "Total Players" : [total_players]
})

Title = df_summary.style.set_caption ('Player Count')
Title.set_table_styles([{
                         'selector':'caption',
                        'props': [('font-size', '20px'),                                 
                                 ('color', 'black')]
                        }])

In [3]:
#calculate mean, count of purchases and total renvenue
uni_items = purchase_df["Item Name"].nunique()
avr_price = "${:.2f}".format(purchase_df["Price"].mean())


num_purchases = purchase_df["Purchase ID"].count()
tot_revenue = "${:,.2f}".format(purchase_df["Price"].sum())

In [4]:
#Display Data Frame with the calculations
summary_df = pd.DataFrame({"Number of Unique Items": [uni_items],
                              "Average Price": [avr_price],
                              "Number of Purchases": [num_purchases],
                              "Total Revenue": [tot_revenue]})
summary_df

Title = summary_df.style.set_caption ('Purchasing Analysis (Total)')
Title.set_table_styles([{
                         'selector':'caption',
                        'props': [('font-size', '20px'),
                                 ('color', 'black')]
                        }])

In [5]:
# Displaying Gender Demographics


gender_df = pd.DataFrame({'Total Count' : purchase_df.groupby("Gender")["SN"].nunique()}).reset_index()
gender_df ["Percentage of Players"] = (gender_df["Total Count"] / gender_df["Total Count"].sum()).map('{:,.2%}'.format)
gender_df_sorted = gender_df.sort_values(by='Total Count', ascending=False)
gender_df_sorted.set_index('Gender')

Title = gender_df_sorted.style.set_caption ('Gender Demographics')
Title.set_table_styles([{
                         'selector':'caption',
                        'props': [('font-size', '20px'),
                                 ('color', 'black')]
                        }])

In [46]:
#grouping by Genders and run calculatios based on the Genders
#Formatting number with dol sign and create Data Frame
grouped_df = purchase_df.groupby("Gender").Price.agg(['count','mean','sum'])
grouped_df.columns = ['Purchase Count', 'Average Purchase Price','Total Purchase Value']

grouped_df['Avg Total Purchase per Person'] = purchase_df.groupby("Gender")["Price"].sum()/purchase_df.groupby("Gender")["SN"].nunique()
grouped_df_final = grouped_df.style.format({
    'Average Purchase Price' : '${:,.2f}'.format,
    'Total Purchase Value' : '${:,.2f}'.format,
    'Avg Total Purchase per Person' : '${:,.2f}'.format,
}).set_caption ('Purchasing Analysis (Gender)')
Title_final = grouped_df_final.set_table_styles([{
                         'selector':'caption',
                        'props': [('font-size', '20px'),
                                 ('color', 'black')]
                        }])
Title_final

In [10]:
#finding out min and max age to determine bins
print(purchase_df["Age"].max())
print(purchase_df["Age"].min())

#creating bins
bins = [0,9,14,19,24,29,34,39,45]
group_labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]

45
7

In [11]:
# bins lebelling
age_range = pd.cut(purchase_df["Age"],bins,labels=group_labels)
age_range.head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [12]:

#checking and including a new column with the Age Group
purchase_df["Age Group"] = age_range
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [47]:
# Age demographics and calculating percentage
grouped_age = purchase_df.groupby("Age Group").SN.agg(['nunique'])
grouped_age.columns = ['Total Count']

grouped_age['Percentage of Players'] =  (purchase_df.groupby("Age Group")['SN'].nunique()/ total_players).map('{:,.2%}'.format)

Title = grouped_age.style.set_caption ('Age Demographics')
Title.set_table_styles([{
                         'selector':'caption',
                        'props': [('font-size', '20px'),
                                 ('color', 'black')]
                        }])

In [49]:
# purchasing analysis and calculations  and creating a data frame
grouped_age_df = purchase_df.groupby('Age Group').Price.agg(['count','mean','sum'])
grouped_age_df.columns = ['Purchase Count', 'Average Purchase Price','Total Purchase Value']

grouped_age_df['Avg Total Purchase per Person'] = purchase_df.groupby("Age Group")["Price"].sum()/purchase_df.groupby("Age Group")["SN"].nunique()


grouped_age_final = grouped_age_df.style.format({
    'Average Purchase Price' : '${:,.2f}'.format,
    'Total Purchase Value' : '${:,.2f}'.format,
    'Avg Total Purchase per Person' : '${:,.2f}'.format
}).set_caption ('Purchasing Analysis (Age)')
Title_final = grouped_age_final.set_table_styles([{
                         'selector':'caption',
                        'props': [('font-size', '20px'),
                                 ('color', 'black')]
                        }])
Title_final

In [50]:
# Finding out the top spenders
top_spenders = purchase_df.groupby ('SN').Price.agg (['count','mean','sum'])
top_spenders.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']
top_senders_sorted = top_spenders.sort_values(by='Total Purchase Value', ascending=False).head()


top_spenders_final = top_senders_sorted.style.format({
    'Average Purchase Price' : '${:,.2f}'.format,
    'Total Purchase Value' : '${:,.2f}'.format,

}).set_caption ('Top Spenders')
Title_final = top_spenders_final.set_table_styles([{
                         'selector':'caption',
                        'props': [('font-size', '20px'),
                                 ('color', 'black')]
                        }])
Title_final

In [51]:
#Finding out most popular items
purchase_summary_df = purchase_df.groupby (['Item ID','Item Name']).Price.agg(['count','mean','sum'])
purchase_summary_df.columns = ['Purchase Count','Item Price','Total Purchase Value']
purchase_summ_df_sorted = purchase_summary_df.sort_values(by='Purchase Count', ascending=False).head()

purchase_summ_df_final= purchase_summ_df_sorted.style.format({
    'Item Price' : '${:,.2f}'.format,
    'Total Purchase Value' : '${:,.2f}'.format,

}).set_caption (' Most Popular Items')
Title_final = purchase_summ_df_final.set_table_styles([{
                         'selector':'caption',
                        'props': [('font-size', '20px'),
                                 ('color', 'black')]
                        }])
Title_final

In [52]:
# Finding out most profitable items
purchase_summ_df_sorted = purchase_summary_df.sort_values(by='Total Purchase Value', ascending=False).head()

purchase_summ_df_final= purchase_summ_df_sorted.style.format({
    'Item Price' : '${:,.2f}'.format,
    'Total Purchase Value' : '${:,.2f}'.format,

}).set_caption ('Most Profitable Items')
Title_final = purchase_summ_df_final.set_table_styles([{
                         'selector':'caption',
                        'props': [('font-size', '20px'),
                                 ('color', 'black')]
                        }])
Title_final

purchase_summ_df_final